// Библиотека полезных функций:

// переводим пиксели в ремы вызываем так: rem(18)
@use 'sass:math';

@function rem($px) {
  @return math.div($px, 16) + rem;
}

// переводим пиксели в em вызываем так: em(18)
@function em($px) {
  @return math.div($px, 16) + em;
}

@mixin font($size, $weight) {
  font: {
    size: $size;
    weight: $weight;
  }
}
