// Сброс и переназначение:
@include reset();

body,
html {
  font-size: 100%;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.body-wrapper {
  position: relative;
  z-index: 10;
  border: rem(5) solid var(--def-black);
}

.container {
  @include container;
  @include sm(max-width, rem(510));
  @include md(max-width, rem(690));
  @include lg(max-width, rem(930));
  @include xl(max-width, rem(1110));

  margin: 0 auto;
  box-sizing: border-box;
}

.row {
  @include row-flex;

  align-self: baseline;
}

.box-wrapper {
  display: flex;

  &__row {
    width: 70%;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: baseline;
    min-height: rem(677);
  }

  &__column {
    width: 30%;
    flex-direction: column;
    min-height: rem(677);
  }
}

// класс для отключения ссылок и т.д.
.disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  -webkit-touch-callout: none;
}
