// primary background color's
:root {
  --def-black: #000000;
  --def-pink: #ffa3ff;
  --def-yellow: #fffc96;
  --def-lightyellow: #fffeec;
  --def-skyblue: #d9f2ff;
  --def-lavender: #bcb4ff;

  --txt-white-clr: #fffeec;

  --btn-native-background: #fffeec;
}
