// Держим тут коллекцию предопределённых классов,
// для кнопок.

$btn-padding-y: #{rem(18)} !default;
$btn-padding-x: #{rem(22)} !default;

$btn-font-family: 'Montserrat', sans-serif !default;
$btn-font-size: #{em(35)} !default;

$btn-line-height: normal !default;
$btn-white-space: null !default; // Set to `nowrap` to prevent text wrapping
$btn-text-transform: uppercase;

$btn-min-width: #{rem(198)};

$link-decoration: underline !default;

$enable-button-pointers: true !default;

$btn-color: var(--def-black);
$btn-background-color: var(--btn-native-background);

$border-radius: #{rem(60)} !default;
$btn-border-width: #{rem(2)} !default;
$btn-border-color: var(--def-black);
$btn-border-active-color: var(--btn-native-background);

$btn-font-weight: 900 !default;

$btn-hover-shadow: 0 #{rem(14)} 0 0 var(--def-black);

$btn-box-shadow:
  inset 0 1px 0 rgba(var(--def-black), 0.15),
  0 1px 1px rgba(#ffffff, 0.075) !default;

$btn-focus-box-shadow: 0 0 0 0.25rem !default;
$btn-disabled-opacity: 0.65 !default;
$btn-active-box-shadow: 0 14px 0 0 var(--btn-native-background) !default;

$btn-active-background-color: var(--def-black);
$btn-active-color: var(--btn-native-background);
$btn-active-border: $btn-border-width solid $btn-border-active-color;

$btn-transition:
  color 0.15s ease-in-out,
  background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out,
  box-shadow 0.15s ease-in-out !default;

$link-hover-decoration: null !default;

[type='button'],
[type='reset'],
[type='submit'],
button {
  -webkit-appearance: button;
}

[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

// По умолчанию кнопки жёлтые
.btn {
  display: inline-block;

  text-align: center;
  text-decoration: if($link-decoration == none, null, none);
  white-space: $btn-white-space;
  vertical-align: middle;

  padding: $btn-padding-y $btn-padding-x;

  min-width: $btn-min-width;

  font-family: $btn-font-family;
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;

  line-height: $btn-line-height;
  text-transform: $btn-text-transform;

  cursor: if($enable-button-pointers, pointer, null);

  user-select: none;

  color: $btn-color;
  background-color: $btn-background-color;
  border: $btn-border-width solid $btn-border-color;
  border-radius: $border-radius;

  transition: $btn-transition;

  &:hover {
    color: $btn-color;
    text-decoration: if($link-hover-decoration == underline, none, null);
    box-shadow: $btn-hover-shadow;
  }

  .btn-check:focus + &,
  &:focus {
    outline: 0;
    box-shadow: $btn-hover-shadow;
  }

  .btn-check:checked + &,
  .btn-check:active + &,
  &:active,
  &.active {
    background-color: $btn-active-background-color;
    color: $btn-active-color;
    border: $btn-active-border;

    &:focus {
      box-shadow: $btn-focus-box-shadow;
    }
  }

  &:disabled,
  &.disabled,
  fieldset:disabled & {
    pointer-events: none;
    opacity: $btn-disabled-opacity;
    box-shadow: none;
  }
}
