.services-page {
  .header {
    background-color: var(--def-black);
    padding-top: rem(111.5);

    &__logo--svg path {
      fill: var(--def-lightyellow);
    }

    &__link_order_status {
      display: none;
    }

    .burger_icon > rect {
      fill: var(--def-lightyellow);
    }

    &__burger_wrapper {
      margin-bottom: rem(0);
    }
  }
}
