<article class="address-card">
  <address class="address-card__address">
    <div class="address-card__city_address">
      <p class="address-card__city_name">@@cityName</p>
      <p class="address-card__address">@@cityAddress</p>
      <p class="address-card__worktime">@@workTime</p>

      <ul class="address-card__social_media">
        <li class="address-card__social_media__li_item">
          <a
            href="#"
            type="button"
            title="Подписывайся!"
            class="address-card__social_media__link_item">
            <img
              class="address-card__social_media__icon_item"
              src="img/icons/ic_watsapp.png"
              alt="Мы в WatsApp" />
          </a>
        </li>
        <li class="address-card__social_media__li_item">
          <a
            href="#"
            type="button"
            title="Подписывайся!"
            class="address-card__social_media__link_item">
            <img
              class="address-card__social_media__icon_item address-card__social_media__icon_item--insta"
              src="img/icons/ic_insta.png"
              alt="Мы в Instagram" />
          </a>
        </li>
      </ul>
    </div>
    <div class="address-card__place_map">
      <iframe
        class="address-card__iframe_map"
        src="@@iframeSource"
        frameborder="0"></iframe>
    </div>
  </address>
</article>
