<article class="info-card @@classModif">
  @@if (imageMode === true) {
  <figure class="info-card__figure">
    <img
      src="@@previewPath"
      alt="Decor element"
      class="info-card__preview" />
  </figure>
  } @@if (onlyTitle === true) {
  <p class="info-card__title">@@cardTitle</p>
  } @@if (hiddenBlock === true) {
  <div class="info-card__hidden">
    @@if (titleMode === true) {
    <p class="info-card__title">@@cardTitle</p>
    } @@if (descriptionMode === true) {
    <p class="info-card__description">@@cardDescription</p>
    }
  </div>
  }
</article>
