.first-section{
  padding: rem(46) 0;

  background-color: var(--def-black);

  .layout {
    column-count: 3;
    column-gap: 0;
  }

  .box-wrapper {
    display: flex;

    &__row {
      width: 80%;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__column {
      width: 20%;
      flex-direction: column;
    }
  }


  .box {
    @include col;

    min-height: rem(321);

    margin-bottom: $offset;

    border-radius: rem(30);
    border: 1px solid #FFFEEC;
    color: #fff;

    &__clothers {
      @include size(8);
      @include size-md(12);
      @include md-block() {
        background-color: blue;
      }
    }

    &__clotherschildren {
      @include size(4);
    }

    &__kabluk {
      @include size(12);

      min-height: rem(677);
    }

    &__market {
      @include size(6);
    }

    &__postel {
      @include size(3);
    }

    &__bags {
      @include size(3);
    }
  }
}
